<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Tambah Jabatan</title>
		
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>	
	</head>
	
	<body>
	<nav th:replace="fragments/fragment :: navbar('SIPEG')"></nav>
		<br>
		<center>
		<h2>Tambah Jabatan</h2>
		<br>
		<form th:action="@{/jabatan/tambah}" th:object="${jabatan}" method="POST">
			<table>
				<tr>
					<td width="200" height="50">Nama</td>
					<td width="200"><input class="form-control" type="text" name="nama" th:value="*{nama}" required="required"/></td>
				</tr>
				<tr>
					<td height="50">Deskripsi</td>
					<td><input class="form-control" type="text" name="deskripsi" th:value="*{deskripsi}" required="required"/></td>
				</tr>
				<tr>
					<td height="50">Gaji Pokok</td>
					<td><input class="form-control" type="number" name="gajiPokok" th:value="*{gajiPokok}" required="required"/></td>
				</tr>
			</table>
			<br>
			<button type="submit" class="btn btn-primary">Simpan</button>
		</form></center>
	</body>
</html>

<script th:inline="javascript">
	var message = /*[[${message}]]*/ 'default';
	if (message!=null){
		alert(message);
	}
</script>