<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cari Pegawai</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/datatables.css">
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar('SIPEG')"></nav>
	<br>
	<center><h3>Cari Pegawai</h3>
	<br>
	
	<form th:action="@{/pegawai/cari}" th:object="${pegawai}" method="GET">
		<table class="table">
				<tbody>
					<tr>
						<td>Provinsi</td>
				 		<td>
			 				<select class="form-control" name="idProvinsi" id="provinsi"/>
			 					<option disabled="disabled" selected="selected" >Pilih Provinsi</option>
								<option th:each="provinsi : ${listProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}"></option>
			 				</select>
				 		</td>
					</tr>
					<tr>
						<td>Nama Instansi</td>
						<td>
							<select class="form-control" name="idInstansi" id="instansi" style="display:none"/>
								<option disabled="disabled" selected="selected" >Pilih Instansi</option>
							</select>
			 				<select class="form-control" name="idInstansi" id="instansiAsli"/>
			 					<option disabled="disabled" selected="selected" >Pilih Instansi</option>
								<option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}"></option>
			 				</select>
				 		</td>
					</tr>
					<tr>
						<td>Jabatan</td>
						<td>
			 				<select class="form-control" name="idJabatan"/>
			 					<option disabled="disabled" selected="selected" >Pilih Jabatan</option>
								<option th:each="jabatan : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
			 				</select>
				 		</td>
					</tr>
				</tbody>		
			</table>
			<button type="submit" class="btn-primary btn">Cari</button>
		</form>
		</center>
	<br>
	<br>
    <div class="container-fluid">
		<table id="id_table" class="display">
			<thead>
				<tr>
					<th style="text-align: center">NIP</th>
					<th style="text-align: center">Nama</th>
					<th style="text-align: center">Tempat Lahir</th>
					<th style="text-align: center">Tanggal Lahir</th>
					<th style="text-align: center">Tahun Masuk</th>
					<th style="text-align: center">Nama Instansi</th>
					<th style="text-align: center">Jabatan</th>
				</tr>
			</thead>
				<tbody>
					<tr th:each="pegawai : ${listPegawai}">
						<td th:text="${pegawai.nip}" style="text-align: center"></td>
						<td th:text="${pegawai.nama}"></td>
						<td th:text="${pegawai.tempatLahir}" style="text-align: center"></td>
						<td th:text="${pegawai.tanggalLahir}" style="text-align: center"></td>
						<td th:text="${pegawai.tahunMasuk}" style="text-align: center"></td>
						<td th:text="${pegawai.getInstansi().getNama()}+' - '+${pegawai.getInstansi().getProvinsi().getNama()}" style="text-align: center"></td>
						<td>
							<ul th:each="jabatan : ${pegawai.getTiapJabatan()}">
								<li th:text="${jabatan.nama}"/>
							</ul>
						</td>
					</tr>
				</tbody>
		</table>
   </div>
   </div>
</body>
<script type="text/javascript" charset="utf8" src="/js/datatables.js"></script>
<script>
		$(document).ready( function () {
    		$('#id_table').DataTable();
		$('#provinsi').change(function() {
			valueProv = $(this).val();
			$.ajax({
				type: "GET",
				url: "http://localhost:8080/pegawai/tambah/instansi?provinsi=",
				data: {
					'provinsiId' : valueProv
				},
				dataType: 'json',
				success: function(data) {
					getIns = '';
					var size = data.length;
				
					for (var i = 0; i<size; i++) {
						getIns+='<option value="'+data[i].id+'">'+data[i].nama+'</option>';
					}
					console.log(getIns);
					$('#instansi').show();
					$('#instansi').append(getIns);
					$('#instansiAsli').remove();
				},
				error: function(rs,e) {
					alert(rs.responseText)
				}
			})
		})
	});
</script>
</html>