<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Data Pegawai</title>
		
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>	
	</head>
	
	<body>
	<nav th:replace="fragments/fragment :: navbar('SIPEG')"></nav>
		
		<center><div class="container-fluid"></div>
		<br>
		<center><h2 th:text="'Lihat Data Pegawai - ' + ${pegawai.nip}"></h2></center>
		<br>	
		<form th:action="@{/pegawai/ubah}" th:object="${pegawai}">
			<table>
				<input type="hidden" name="nip" th:value="${pegawai.nip}">
				<tr>
					<td width="200" height="40">NIP</td>
					<td th:text=" ${pegawai.nip}" width="300"></td>
				</tr>
				<tr>
					<td height="40">Nama</td>
					<td th:text=" ${pegawai.nama}"></td>
				</tr>
				<tr>
					<td height="40">Tempat Lahir</td>
					<td th:text=" ${pegawai.tempatLahir}"></td>
				</tr>
				<tr>
					<td height="40">Tanggal Lahir</td>
					<td th:text=" ${pegawai.tanggalLahir}"></td>
				</tr>
				<tr>
					<td height="40">Tahun Masuk</td>
					<td th:text=" ${pegawai.tahunMasuk}"></td>
				</tr>
				<tr>
					<td height="40">Nama Instansi</td>
					<td th:text=" ${namaInstansi} + ' - '+${pegawai.instansi.provinsi.nama}"></td>
				</tr>
				<tr>
      				<td height="40">Jabatan</td>
      				<td><ul th:each="jabatannya : ${listJabatan}">
 							<li th:text="${jabatannya.nama}"/>	
 						</ul>
 					</td>	
   				</tr>
				<tr>
					<td height="40">Gaji</td>
					<td th:text="'Rp' + ${gajiTertinggi}"></td>
				</tr>
			</table>
			<br>
			<button type="submit" class="btn btn-primary">Ubah</button>
		</form></center>
	</body>
</html>