<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Tambah Jabatan</title>
		
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>	
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar('SIPEG')"></nav>
		<br>
		<center>
		<h2 th:text="'Detail Jabatan ' + ${jabatan.nama}"></h2>
		<br>
		<form th:action="@{'/jabatan/ubah'(idJabatan=${jabatan.id})}" th:object="${jabatan}" method="POST">
			<table>
				<tr>
					<td>Nama</td>
					<td th:text="': ' + ${jabatan.nama}"></td>
				</tr>
				<tr>
					<td>Deskripsi</td>
					<td th:text="': ' + ${jabatan.deskripsi}"></td>
				</tr>
				<tr>
					<td>Gaji Pokok</td>
					<td th:text="': ' + ${jabatan.gajiPokok}"></td>
				</tr>
			</table>
			<br>
			<button type="submit" class="btn btn-primary">Ubah</button>
		</form>
		<form th:action="@{'/jabatan/hapus/' + ${jabatan.id}}">
			<button value="submit" class="btn btn-primary">Hapus</button>
		</form>
		</center>
	</body>
</html>