<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Viewall Jabatan</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/datatables.css">
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar('SIPEG')"></nav>
	<br>
	<center><h3>Jabatan</h3></center>
	<br>
    <div class="container-fluid">
		<table id="table_id" class="display">
			<thead>
				<tr>
					<th style="text-align: center">Nama</th>
					<th style="text-align: center">Deskripsi</th>
					<th style="text-align: center">Jumlah Pegawai</th>
					<th style="text-align: center">Gaji Pokok</th>
				</tr>
			</thead>
				<tbody>
					<tr th:each="jabatan : ${listJabatan}">
						<td th:text="${jabatan.nama}"></td>
						<td th:text="${jabatan.deskripsi}"></td>
						<td th:text="${jabatan.tiapPegawai.size()}" style="text-align: center"></td>
						<td th:text="${jabatan.gajiPokok}" style="text-align: center"></td>
					</tr>
				</tbody>
		</table>
   </div>
   </div>
</body>
<script type="text/javascript" charset="utf8" src="/js/datatables.js"></script>
	<script>
		$(document).ready( function () {
    		$('#table_id').DataTable();
		} );
	</script>
</html>